.btn-1 {
    border: 2px solid black;
    padding: 5px 20px;
    background-color: rgb(195, 189, 189);
    border-radius: 15px;
}

.btn-2{
    border-radius: 50%;
    background-color: orange;
    font-size: large;
    padding: 10px 15px;
    border: none;
    color:white;
}

.btn-3{
    background-color: rgb(59, 128, 212);
    border:none;
    color:white;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px rgb(100, 96, 96);

}