*{padding: 10px;}
nav{
    border:1px solid black;
    height: 75px;
}
main{
    height: 800px;
    border: 1px solid rgb(244, 3, 244);
    display: flex;
}
section{
    flex: 1;
    height: 750;
    border: 1px solid aqua;
}
div{
    border: 2px solid green;
    height: 300px;
}