/*sans-serif*/
primero{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

header{
    background-color: rgb(30, 145, 216);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100px;
    
}
img{
    border-radius: 50%;
    height: 150px;
    position:relative;
    top:40px;
    left: 40px;
    border:3px solid white; 
    align-items: start;
}
.segundo {
    align-items: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(67, 65, 65);
    margin-top: 100px;
    margin-left: 25px;
}




