.flex {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
img{ 
    width: 200px;
    height: 200px;
}

.contenedor-principal{
    width: 60%;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.dojo-1{
background-color: yellow;
}

.dojo-2{
    background-color: lightblue;   
}

.dojo-3{
    background-color: lightcoral;
}

p {
    text-align: center;
    background-color: lightgreen;
    padding: 10px 0;
    margin: 0;
    size: 20px;

}