

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* estilos de barra de navegaciòn*/
nav{
    border:1px solid black;
    background-color: rgb(36, 30, 30);
    color:white;
    font-weight: bold;
    padding: 25px 30px;
}
nav a{
    color:white;
    text-decoration: none;
    font-size: 30px;
}
ul li, li a{
    list-style: none;
    font-size: 20px;
}
li{
    margin-left: 30px;
}
#sesion{
    background-color: rgb(47, 179, 196);
    border: none;
    border-radius: 10px;
    padding: 15px 10px ;
    font-size:20px ;
    color: white;
    font-weight: bold;
}

/*estilos del contenedor principal*/


.foto{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: 20px;
    border: 5px solid white;
}
.bloque{
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(28, 25, 25);
    margin: 5px;
}

.fondo{
    height: 150px;
    background-color: rgb(70, 146, 208);
}

.izq{
    padding: 0 30px 20px 25px;
}
.contenido {
    margin-left: 15px;
    margin-bottom: 25px;
}
h1, h2, p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(67, 65, 65);
}
.text-boton{
    color:rgb(42, 74, 216);
}

.educacion{
    margin-left: 20px;
    margin-bottom: 10px;
}

/* termina Tarjeta*/
.photo{
    border-radius: 10px;
    border: 2px solid rgb(21, 127, 141);
    height: 60px;
    width: 60px;
    margin: 15px;
    margin-bottom: 10px;
}

.nombre-usuario{
    font-family: bold;
    font-size: 20px;
}
.icon{
    border: 1px solid red;
    height: 30px;
    width: 30px;
    border-radius: 50%; 
    margin: 15px; 
    margin-right: 40px;
}
.solicitudes {
    margin: 20px;
}

/*Conexiones */
.amigo{
    justify-content: flex-start;
    margin-left: 15px;
}
.conexiones{
    padding: 20px;
}

.tus-fotos{
    border-radius: 50%;
    border: 2px solid black;
    height: 60px;
    margin-bottom: 5px;
    margin-right: 20px;
}

.izq{
    flex:3;
}
.der{
    flex:2;
}