.row {
background-color: lightblue;
display: flex;    
padding: 10px;
}

.col {
display: flex;
flex: 1 1 auto;
justify-content: start;
flex-wrap: wrap;
width: auto;
height: auto;
}

.col-2 {
flex:2; 
}

.col-3 {
flex: 3;
}