* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    margin: 30px;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: stretch;
}
/* Estilos del dispositivo más grande ->[890-1285px]*/
div {
    width: 25%;
    padding: 20px;
    margin: 5px;
    background-color: lightgray;
}
/* Estilo del dispositivo mediano ->[590-890px]*/
@media (max-width:890px){
    div{
        width: 40%;
    }
}
/* Estilo del dispositivo pequeño ->[0-590px] */
@media(max-width:590px){
    div{
        width: 95%;
        font-size: 12px;
    }
}
/* media Query con un rango cerrado[590-890]*/

@media(min-width:590px) and (max-width:890px){
    div{
        background-color: lightpink;
    }
}
/* Media Query con orientación de pantalla */
@media(max-width:1024px) and (orientation:landscape){
    div{
        background-color: lightblue;
    }
}
