/*BARRA BUSQUEDA    */
nav{
    border:1px solid black;
    height: 100px;
}
.barra{
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.mascotas{
    width: 600px;
    margin-right: 200px;
}

#btn1{
    box-shadow: 0px 0px 10px rgb(28, 25, 25);
    border: 1px solid black;
    color: white;
    background-color: rgb(50, 73, 187);
    font-size: 14px;
    padding: 8px;
}

/*BARRAS DER IZQ*/
main{
    display: flex;
    align-items: flex-start;
}

.izq{
    flex:2;
}
.gato, .perro{
    border: 2px solid black;
    padding: 10px;
    margin: 0 15px 15px 0;
}
h3{
    font-family: italic;
    font-size: 14px;
}

#btn2, #btn3{
    border-radius: 5px;
    border: 1px solid black;
    background-color:rgb(245, 207, 162);
    padding: 5px;
    font-size: 14px;
}
/*BARRA DER*/

der{
    flex:1;
}
.verde{
    border: 2px solid black;
    padding:10px;
}
#btn4{
    box-shadow: 0px 0px 10px rgb(28, 25, 25);
    border: 1px solid black;
    color:white;
    background-color: green;
    font-size: 14px;
    padding: 5px 30px;
}

